.color-icons{
  background-image: url("../img/icons.png")!important;
  background-repeat: no-repeat;
  background-position: top left;
  display: inline-block;
  margin-top:0px;
}
.icons-abacus{ background-position: 0 0; width: 16px; height: 16px; } 
.icons-address-book-open{ background-position: 0 -36px; width: 16px; height: 16px; } 
.icons-address-book{ background-position: 0 -72px; width: 16px; height: 16px; } 
.icons-application--arrow{ background-position: 0 -108px; width: 16px; height: 16px; } 
.icons-application-ab{ background-position: 0 -144px; width: 16px; height: 16px; } 
.icons-application-blog{ background-position: 0 -180px; width: 16px; height: 16px; } 
.icons-application-blue{ background-position: 0 -216px; width: 16px; height: 16px; } 
.icons-application-browser{ background-position: 0 -252px; width: 16px; height: 16px; } 
.icons-application-detail{ background-position: 0 -288px; width: 16px; height: 16px; } 
.icons-application-dialog{ background-position: 0 -324px; width: 16px; height: 16px; } 
.icons-application-documents{ background-position: 0 -360px; width: 16px; height: 16px; } 
.icons-application-export{ background-position: 0 -396px; width: 16px; height: 16px; } 
.icons-application-icon-large{ background-position: 0 -432px; width: 16px; height: 16px; } 
.icons-application-import{ background-position: 0 -468px; width: 16px; height: 16px; } 
.icons-application-list{ background-position: 0 -504px; width: 16px; height: 16px; } 
.icons-application-medium{ background-position: 0 -540px; width: 16px; height: 16px; } 
.icons-application-monitor{ background-position: 0 -576px; width: 16px; height: 16px; } 
.icons-application-search-result{ background-position: 0 -612px; width: 16px; height: 16px; } 
.icons-application-share{ background-position: 0 -648px; width: 16px; height: 16px; } 
.icons-application-sidebar{ background-position: 0 -684px; width: 16px; height: 16px; } 
.icons-application{ background-position: 0 -720px; width: 16px; height: 16px; } 
.icons-applications-blue{ background-position: 0 -756px; width: 16px; height: 16px; } 
.icons-applications{ background-position: 0 -792px; width: 16px; height: 16px; } 
.icons-arrow-045{ background-position: 0 -828px; width: 16px; height: 16px; } 
.icons-arrow-090{ background-position: 0 -864px; width: 16px; height: 16px; } 
.icons-arrow-circle-045-left{ background-position: 0 -900px; width: 16px; height: 16px; } 
.icons-arrow-circle-double-135{ background-position: 0 -936px; width: 16px; height: 16px; } 
.icons-arrow-circle{ background-position: 0 -972px; width: 16px; height: 16px; } 
.icons-arrow-continue-000-top{ background-position: 0 -1008px; width: 16px; height: 16px; } 
.icons-arrow-continue-090-left{ background-position: 0 -1044px; width: 16px; height: 16px; } 
.icons-arrow{ background-position: 0 -1080px; width: 16px; height: 16px; } 
.icons-at-sign-document{ background-position: 0 -1116px; width: 16px; height: 16px; } 
.icons-balloon--arrow{ background-position: 0 -1152px; width: 16px; height: 16px; } 
.icons-balloon-box-left{ background-position: 0 -1188px; width: 16px; height: 16px; } 
.icons-balloon-quotation{ background-position: 0 -1224px; width: 16px; height: 16px; } 
.icons-balloon-white-left{ background-position: 0 -1260px; width: 16px; height: 16px; } 
.icons-balloon{ background-position: 0 -1296px; width: 16px; height: 16px; } 
.icons-balloons{ background-position: 0 -1332px; width: 16px; height: 16px; } 
.icons-bandaid--arrow{ background-position: 0 -1368px; width: 16px; height: 16px; } 
.icons-bandaid{ background-position: 0 -1404px; width: 16px; height: 16px; } 
.icons-bank--arrow{ background-position: 0 -1440px; width: 16px; height: 16px; } 
.icons-bank{ background-position: 0 -1476px; width: 16px; height: 16px; } 
.icons-binocular--arrow{ background-position: 0 -1512px; width: 16px; height: 16px; } 
.icons-binocular{ background-position: 0 -1548px; width: 16px; height: 16px; } 
.icons-blog--arrow{ background-position: 0 -1584px; width: 16px; height: 16px; } 
.icons-blog-blue{ background-position: 0 -1620px; width: 16px; height: 16px; } 
.icons-blog-posterous{ background-position: 0 -1656px; width: 16px; height: 16px; } 
.icons-blog-tumblr{ background-position: 0 -1692px; width: 16px; height: 16px; } 
.icons-blog{ background-position: 0 -1728px; width: 16px; height: 16px; } 
.icons-blogs-stack{ background-position: 0 -1764px; width: 16px; height: 16px; } 
.icons-blogs{ background-position: 0 -1800px; width: 16px; height: 16px; } 
.icons-blue-document--arrow{ background-position: 0 -1836px; width: 16px; height: 16px; } 
.icons-blue-document-binary{ background-position: 0 -1872px; width: 16px; height: 16px; } 
.icons-blue-document-block{ background-position: 0 -1908px; width: 16px; height: 16px; } 
.icons-blue-document-bookmark{ background-position: 0 -1944px; width: 16px; height: 16px; } 
.icons-blue-document-code{ background-position: -36px 0; width: 16px; height: 16px; } 
.icons-blue-document-convert{ background-position: -36px -36px; width: 16px; height: 16px; } 
.icons-blue-document-copy{ background-position: -36px -72px; width: 16px; height: 16px; } 
.icons-blue-document-excel{ background-position: -36px -108px; width: 16px; height: 16px; } 
.icons-blue-document-export{ background-position: -36px -144px; width: 16px; height: 16px; } 
.icons-blue-document-film{ background-position: -36px -180px; width: 16px; height: 16px; } 
.icons-blue-document-flash-movie{ background-position: -36px -216px; width: 16px; height: 16px; } 
.icons-blue-document-flash{ background-position: -36px -252px; width: 16px; height: 16px; } 
.icons-blue-document-globe{ background-position: -36px -288px; width: 16px; height: 16px; } 
.icons-blue-document-hf-delete-footer{ background-position: -36px -324px; width: 16px; height: 16px; } 
.icons-blue-document-hf-delete{ background-position: -36px -360px; width: 16px; height: 16px; } 
.icons-blue-document-hf-insert-footer{ background-position: -36px -396px; width: 16px; height: 16px; } 
.icons-blue-document-hf-select-footer{ background-position: -36px -432px; width: 16px; height: 16px; } 
.icons-blue-document-hf{ background-position: -36px -468px; width: 16px; height: 16px; } 
.icons-blue-document-import{ background-position: -36px -504px; width: 16px; height: 16px; } 
.icons-blue-document-invoice{ background-position: -36px -540px; width: 16px; height: 16px; } 
.icons-blue-document-list{ background-position: -36px -576px; width: 16px; height: 16px; } 
.icons-blue-document-medium{ background-position: -36px -612px; width: 16px; height: 16px; } 
.icons-blue-document-music-playlist{ background-position: -36px -648px; width: 16px; height: 16px; } 
.icons-blue-document-node{ background-position: -36px -684px; width: 16px; height: 16px; } 
.icons-blue-document{ background-position: -36px -720px; width: 16px; height: 16px; } 
.icons-blue-folder-horizontal-open{ background-position: -36px -756px; width: 16px; height: 16px; } 
.icons-blue-folder-horizontal{ background-position: -36px -792px; width: 16px; height: 16px; } 
.icons-blue-folder-open-document-music-playlist{ background-position: -36px -828px; width: 16px; height: 16px; } 
.icons-blue-folder-open-document-text{ background-position: -36px -864px; width: 16px; height: 16px; } 
.icons-blue-folder-open-document{ background-position: -36px -900px; width: 16px; height: 16px; } 
.icons-blue-folder-open-film{ background-position: -36px -936px; width: 16px; height: 16px; } 
.icons-blue-folder-open-image{ background-position: -36px -972px; width: 16px; height: 16px; } 
.icons-blue-folder-open-slide{ background-position: -36px -1008px; width: 16px; height: 16px; } 
.icons-blue-folder-open-table{ background-position: -36px -1044px; width: 16px; height: 16px; } 
.icons-blue-folder-open{ background-position: -36px -1080px; width: 16px; height: 16px; } 
.icons-blue-folder-share{ background-position: -36px -1116px; width: 16px; height: 16px; } 
.icons-blue-folder-shred{ background-position: -36px -1152px; width: 16px; height: 16px; } 
.icons-blue-folder-stamp{ background-position: -36px -1188px; width: 16px; height: 16px; } 
.icons-blue-folder-stand{ background-position: -36px -1224px; width: 16px; height: 16px; } 
.icons-blue-folder-sticky-note{ background-position: -36px -1260px; width: 16px; height: 16px; } 
.icons-blue-folder-zipper{ background-position: -36px -1296px; width: 16px; height: 16px; } 
.icons-blue-folders-stack{ background-position: -36px -1332px; width: 16px; height: 16px; } 
.icons-blue-folders{ background-position: -36px -1368px; width: 16px; height: 16px; } 
.icons-blueprint--arrow{ background-position: -36px -1404px; width: 16px; height: 16px; } 
.icons-blueprint-horizontal{ background-position: -36px -1440px; width: 16px; height: 16px; } 
.icons-blueprint-medium{ background-position: -36px -1476px; width: 16px; height: 16px; } 
.icons-blueprint{ background-position: -36px -1512px; width: 16px; height: 16px; } 
.icons-blueprints{ background-position: -36px -1548px; width: 16px; height: 16px; } 
.icons-book-open-bookmark{ background-position: -36px -1584px; width: 16px; height: 16px; } 
.icons-book-open-list{ background-position: -36px -1620px; width: 16px; height: 16px; } 
.icons-book-open-next{ background-position: -36px -1656px; width: 16px; height: 16px; } 
.icons-book-open-previous{ background-position: -36px -1692px; width: 16px; height: 16px; } 
.icons-book-open-text-image{ background-position: -36px -1728px; width: 16px; height: 16px; } 
.icons-book-open-text{ background-position: -36px -1764px; width: 16px; height: 16px; } 
.icons-book-open{ background-position: -36px -1800px; width: 16px; height: 16px; } 
.icons-box--arrow{ background-position: -36px -1836px; width: 16px; height: 16px; } 
.icons-box--exclamation{ background-position: -36px -1872px; width: 16px; height: 16px; } 
.icons-box--minus{ background-position: -36px -1908px; width: 16px; height: 16px; } 
.icons-box--pencil{ background-position: -36px -1944px; width: 16px; height: 16px; } 
.icons-box--plus{ background-position: -72px 0; width: 16px; height: 16px; } 
.icons-box-document{ background-position: -72px -36px; width: 16px; height: 16px; } 
.icons-box-label{ background-position: -72px -72px; width: 16px; height: 16px; } 
.icons-box-medium{ background-position: -72px -108px; width: 16px; height: 16px; } 
.icons-box-search-result{ background-position: -72px -144px; width: 16px; height: 16px; } 
.icons-box-share{ background-position: -72px -180px; width: 16px; height: 16px; } 
.icons-box-small{ background-position: -72px -216px; width: 16px; height: 16px; } 
.icons-box-zipper{ background-position: -72px -252px; width: 16px; height: 16px; } 
.icons-box{ background-position: -72px -288px; width: 16px; height: 16px; } 
.icons-briefcase--arrow{ background-position: -72px -324px; width: 16px; height: 16px; } 
.icons-briefcase{ background-position: -72px -360px; width: 16px; height: 16px; } 
.icons-calendar--arrow{ background-position: -72px -396px; width: 16px; height: 16px; } 
.icons-calendar--pencil{ background-position: -72px -432px; width: 16px; height: 16px; } 
.icons-calendar-blue{ background-position: -72px -468px; width: 16px; height: 16px; } 
.icons-calendar-day{ background-position: -72px -504px; width: 16px; height: 16px; } 
.icons-calendar-delete{ background-position: -72px -540px; width: 16px; height: 16px; } 
.icons-calendar-import{ background-position: -72px -576px; width: 16px; height: 16px; } 
.icons-calendar-list{ background-position: -72px -612px; width: 16px; height: 16px; } 
.icons-calendar-month{ background-position: -72px -648px; width: 16px; height: 16px; } 
.icons-calendar-next{ background-position: -72px -684px; width: 16px; height: 16px; } 
.icons-calendar-previous{ background-position: -72px -720px; width: 16px; height: 16px; } 
.icons-calendar-relation{ background-position: -72px -756px; width: 16px; height: 16px; } 
.icons-calendar-search-result{ background-position: -72px -792px; width: 16px; height: 16px; } 
.icons-calendar-select-week{ background-position: -72px -828px; width: 16px; height: 16px; } 
.icons-calendar-select{ background-position: -72px -864px; width: 16px; height: 16px; } 
.icons-calendar-share{ background-position: -72px -900px; width: 16px; height: 16px; } 
.icons-calendar-task{ background-position: -72px -936px; width: 16px; height: 16px; } 
.icons-calendar{ background-position: -72px -972px; width: 16px; height: 16px; } 
.icons-cassette--arrow{ background-position: -72px -1008px; width: 16px; height: 16px; } 
.icons-cassette-label{ background-position: -72px -1044px; width: 16px; height: 16px; } 
.icons-cassette{ background-position: -72px -1080px; width: 16px; height: 16px; } 
.icons-caution-board-prohibition{ background-position: -72px -1116px; width: 16px; height: 16px; } 
.icons-caution-board{ background-position: -72px -1152px; width: 16px; height: 16px; } 
.icons-chair--arrow{ background-position: -72px -1188px; width: 16px; height: 16px; } 
.icons-chair{ background-position: -72px -1224px; width: 16px; height: 16px; } 
.icons-chalkboard-text{ background-position: -72px -1260px; width: 16px; height: 16px; } 
.icons-chalkboard{ background-position: -72px -1296px; width: 16px; height: 16px; } 
.icons-chart--arrow{ background-position: -72px -1332px; width: 16px; height: 16px; } 
.icons-chart--pencil{ background-position: -72px -1368px; width: 16px; height: 16px; } 
.icons-chart--plus{ background-position: -72px -1404px; width: 16px; height: 16px; } 
.icons-chart-pie-separate{ background-position: -72px -1440px; width: 16px; height: 16px; } 
.icons-chart-pie{ background-position: -72px -1476px; width: 16px; height: 16px; } 
.icons-chart-up{ background-position: -72px -1512px; width: 16px; height: 16px; } 
.icons-chart{ background-position: -72px -1548px; width: 16px; height: 16px; } 
.icons-cheque--arrow{ background-position: -72px -1584px; width: 16px; height: 16px; } 
.icons-cheque{ background-position: -72px -1620px; width: 16px; height: 16px; } 
.icons-clipboard--arrow{ background-position: -72px -1656px; width: 16px; height: 16px; } 
.icons-clipboard--exclamation{ background-position: -72px -1692px; width: 16px; height: 16px; } 
.icons-clipboard--pencil{ background-position: -72px -1728px; width: 16px; height: 16px; } 
.icons-clipboard--plus{ background-position: -72px -1764px; width: 16px; height: 16px; } 
.icons-clipboard-empty{ background-position: -72px -1800px; width: 16px; height: 16px; } 
.icons-clipboard-invoice{ background-position: -72px -1836px; width: 16px; height: 16px; } 
.icons-clipboard-list{ background-position: -72px -1872px; width: 16px; height: 16px; } 
.icons-clipboard-paste-document-text{ background-position: -72px -1908px; width: 16px; height: 16px; } 
.icons-clipboard-paste-image{ background-position: -72px -1944px; width: 16px; height: 16px; } 
.icons-clipboard-paste-word{ background-position: -108px 0; width: 16px; height: 16px; } 
.icons-clipboard-paste{ background-position: -108px -36px; width: 16px; height: 16px; } 
.icons-clipboard-sign{ background-position: -108px -72px; width: 16px; height: 16px; } 
.icons-clipboard-task{ background-position: -108px -108px; width: 16px; height: 16px; } 
.icons-clipboard-text{ background-position: -108px -144px; width: 16px; height: 16px; } 
.icons-clipboard{ background-position: -108px -180px; width: 16px; height: 16px; } 
.icons-clock-frame{ background-position: -108px -216px; width: 16px; height: 16px; } 
.icons-clock-history-frame{ background-position: -108px -252px; width: 16px; height: 16px; } 
.icons-clock-moon-phase{ background-position: -108px -288px; width: 16px; height: 16px; } 
.icons-clock{ background-position: -108px -324px; width: 16px; height: 16px; } 
.icons-co2{ background-position: -108px -360px; width: 16px; height: 16px; } 
.icons-construction{ background-position: -108px -396px; width: 16px; height: 16px; } 
.icons-cup--arrow{ background-position: -108px -432px; width: 16px; height: 16px; } 
.icons-cup-empty{ background-position: -108px -468px; width: 16px; height: 16px; } 
.icons-cup{ background-position: -108px -504px; width: 16px; height: 16px; } 
.icons-database--arrow{ background-position: -108px -540px; width: 16px; height: 16px; } 
.icons-database--exclamation{ background-position: -108px -576px; width: 16px; height: 16px; } 
.icons-database-delete{ background-position: -108px -612px; width: 16px; height: 16px; } 
.icons-database-import{ background-position: -108px -648px; width: 16px; height: 16px; } 
.icons-database-network{ background-position: -108px -684px; width: 16px; height: 16px; } 
.icons-database-share{ background-position: -108px -720px; width: 16px; height: 16px; } 
.icons-database{ background-position: -108px -756px; width: 16px; height: 16px; } 
.icons-databases{ background-position: -108px -792px; width: 16px; height: 16px; } 
.icons-direction--arrow{ background-position: -108px -828px; width: 16px; height: 16px; } 
.icons-direction{ background-position: -108px -864px; width: 16px; height: 16px; } 
.icons-disk-black{ background-position: -108px -900px; width: 16px; height: 16px; } 
.icons-do-not-disturb-sign-prohibition{ background-position: -108px -936px; width: 16px; height: 16px; } 
.icons-do-not-disturb-sign{ background-position: -108px -972px; width: 16px; height: 16px; } 
.icons-document--exclamation{ background-position: -108px -1008px; width: 16px; height: 16px; } 
.icons-document--minus{ background-position: -108px -1044px; width: 16px; height: 16px; } 
.icons-document--pencil{ background-position: -108px -1080px; width: 16px; height: 16px; } 
.icons-document--plus{ background-position: -108px -1116px; width: 16px; height: 16px; } 
.icons-document-bookmark{ background-position: -108px -1152px; width: 16px; height: 16px; } 
.icons-document-braille{ background-position: -108px -1188px; width: 16px; height: 16px; } 
.icons-document-break{ background-position: -108px -1224px; width: 16px; height: 16px; } 
.icons-document-broken{ background-position: -108px -1260px; width: 16px; height: 16px; } 
.icons-document-clock{ background-position: -108px -1296px; width: 16px; height: 16px; } 
.icons-document-code{ background-position: -108px -1332px; width: 16px; height: 16px; } 
.icons-document-convert{ background-position: -108px -1368px; width: 16px; height: 16px; } 
.icons-document-copy{ background-position: -108px -1404px; width: 16px; height: 16px; } 
.icons-document-excel-table{ background-position: -108px -1440px; width: 16px; height: 16px; } 
.icons-document-export{ background-position: -108px -1476px; width: 16px; height: 16px; } 
.icons-document-film{ background-position: -108px -1512px; width: 16px; height: 16px; } 
.icons-document-flash-movie{ background-position: -108px -1548px; width: 16px; height: 16px; } 
.icons-document-flash{ background-position: -108px -1584px; width: 16px; height: 16px; } 
.icons-document-globe{ background-position: -108px -1620px; width: 16px; height: 16px; } 
.icons-document-hf-delete-footer{ background-position: -108px -1656px; width: 16px; height: 16px; } 
.icons-document-hf-delete{ background-position: -108px -1692px; width: 16px; height: 16px; } 
.icons-document-hf-insert-footer{ background-position: -108px -1728px; width: 16px; height: 16px; } 
.icons-document-hf-insert{ background-position: -108px -1764px; width: 16px; height: 16px; } 
.icons-document-hf-select-footer{ background-position: -108px -1800px; width: 16px; height: 16px; } 
.icons-document-hf-select{ background-position: -108px -1836px; width: 16px; height: 16px; } 
.icons-document-hf{ background-position: -108px -1872px; width: 16px; height: 16px; } 
.icons-document-horizontal-text{ background-position: -108px -1908px; width: 16px; height: 16px; } 
.icons-document-horizontal{ background-position: -108px -1944px; width: 16px; height: 16px; } 
.icons-document-illustrator{ background-position: -144px 0; width: 16px; height: 16px; } 
.icons-document-image{ background-position: -144px -36px; width: 16px; height: 16px; } 
.icons-document-import{ background-position: -144px -72px; width: 16px; height: 16px; } 
.icons-document-insert{ background-position: -144px -108px; width: 16px; height: 16px; } 
.icons-document-invoice{ background-position: -144px -144px; width: 16px; height: 16px; } 
.icons-document-list{ background-position: -144px -180px; width: 16px; height: 16px; } 
.icons-document-medium{ background-position: -144px -216px; width: 16px; height: 16px; } 
.icons-document-music-playlist{ background-position: -144px -252px; width: 16px; height: 16px; } 
.icons-document-music{ background-position: -144px -288px; width: 16px; height: 16px; } 
.icons-document-node{ background-position: -144px -324px; width: 16px; height: 16px; } 
.icons-document-outlook{ background-position: -144px -360px; width: 16px; height: 16px; } 
.icons-document-pdf-text{ background-position: -144px -396px; width: 16px; height: 16px; } 
.icons-document-pdf{ background-position: -144px -432px; width: 16px; height: 16px; } 
.icons-document-php{ background-position: -144px -468px; width: 16px; height: 16px; } 
.icons-document-powerpoint{ background-position: -144px -504px; width: 16px; height: 16px; } 
.icons-document-rename{ background-position: -144px -540px; width: 16px; height: 16px; } 
.icons-document-search-result{ background-position: -144px -576px; width: 16px; height: 16px; } 
.icons-document-share{ background-position: -144px -612px; width: 16px; height: 16px; } 
.icons-document-shred{ background-position: -144px -648px; width: 16px; height: 16px; } 
.icons-document-stamp{ background-position: -144px -684px; width: 16px; height: 16px; } 
.icons-document-stand{ background-position: -144px -720px; width: 16px; height: 16px; } 
.icons-document-sticky-note{ background-position: -144px -756px; width: 16px; height: 16px; } 
.icons-document-sub{ background-position: -144px -792px; width: 16px; height: 16px; } 
.icons-document-table{ background-position: -144px -828px; width: 16px; height: 16px; } 
.icons-document-tag{ background-position: -144px -864px; width: 16px; height: 16px; } 
.icons-document-task{ background-position: -144px -900px; width: 16px; height: 16px; } 
.icons-document-template{ background-position: -144px -936px; width: 16px; height: 16px; } 
.icons-document-tex{ background-position: -144px -972px; width: 16px; height: 16px; } 
.icons-document-text-image{ background-position: -144px -1008px; width: 16px; height: 16px; } 
.icons-document-text{ background-position: -144px -1044px; width: 16px; height: 16px; } 
.icons-document-tree{ background-position: -144px -1080px; width: 16px; height: 16px; } 
.icons-document-view-book{ background-position: -144px -1116px; width: 16px; height: 16px; } 
.icons-document-view-thumbnail{ background-position: -144px -1152px; width: 16px; height: 16px; } 
.icons-document-view{ background-position: -144px -1188px; width: 16px; height: 16px; } 
.icons-document-visual-studio{ background-position: -144px -1224px; width: 16px; height: 16px; } 
.icons-document-word-text{ background-position: -144px -1260px; width: 16px; height: 16px; } 
.icons-document-word{ background-position: -144px -1296px; width: 16px; height: 16px; } 
.icons-document-xaml{ background-position: -144px -1332px; width: 16px; height: 16px; } 
.icons-document-zipper{ background-position: -144px -1368px; width: 16px; height: 16px; } 
.icons-documents-stack{ background-position: -144px -1404px; width: 16px; height: 16px; } 
.icons-documents-text{ background-position: -144px -1440px; width: 16px; height: 16px; } 
.icons-documents{ background-position: -144px -1476px; width: 16px; height: 16px; } 
.icons-drawer--arrow{ background-position: -144px -1512px; width: 16px; height: 16px; } 
.icons-drawer-open{ background-position: -144px -1548px; width: 16px; height: 16px; } 
.icons-drawer{ background-position: -144px -1584px; width: 16px; height: 16px; } 
.icons-e-book-reader-black{ background-position: -144px -1620px; width: 16px; height: 16px; } 
.icons-e-book-reader-white{ background-position: -144px -1656px; width: 16px; height: 16px; } 
.icons-e-book-reader{ background-position: -144px -1692px; width: 16px; height: 16px; } 
.icons-envelope--arrow{ background-position: -144px -1728px; width: 16px; height: 16px; } 
.icons-envelope--exclamation{ background-position: -144px -1764px; width: 16px; height: 16px; } 
.icons-envelope-at-sign{ background-position: -144px -1800px; width: 16px; height: 16px; } 
.icons-envelope-label{ background-position: -144px -1836px; width: 16px; height: 16px; } 
.icons-envelope-share{ background-position: -144px -1872px; width: 16px; height: 16px; } 
.icons-envelope-string{ background-position: -144px -1908px; width: 16px; height: 16px; } 
.icons-envelope{ background-position: -144px -1944px; width: 16px; height: 16px; } 
.icons-exclamation-red{ background-position: -180px 0; width: 16px; height: 16px; } 
.icons-exclamation{ background-position: -180px -36px; width: 16px; height: 16px; } 
.icons-folder-horizontal-open{ background-position: -180px -72px; width: 16px; height: 16px; } 
.icons-folder-horizontal{ background-position: -180px -108px; width: 16px; height: 16px; } 
.icons-folder-open-film{ background-position: -180px -144px; width: 16px; height: 16px; } 
.icons-folder-open-image{ background-position: -180px -180px; width: 16px; height: 16px; } 
.icons-folder-open-slide{ background-position: -180px -216px; width: 16px; height: 16px; } 
.icons-folder-open-table{ background-position: -180px -252px; width: 16px; height: 16px; } 
.icons-folder-share{ background-position: -180px -288px; width: 16px; height: 16px; } 
.icons-folder-shred{ background-position: -180px -324px; width: 16px; height: 16px; } 
.icons-folder-smiley{ background-position: -180px -360px; width: 16px; height: 16px; } 
.icons-folder-stamp{ background-position: -180px -396px; width: 16px; height: 16px; } 
.icons-folder-stand{ background-position: -180px -432px; width: 16px; height: 16px; } 
.icons-folder-sticky-note{ background-position: -180px -468px; width: 16px; height: 16px; } 
.icons-folder-tree{ background-position: -180px -504px; width: 16px; height: 16px; } 
.icons-folder-zipper{ background-position: -180px -540px; width: 16px; height: 16px; } 
.icons-folding-fan{ background-position: -180px -576px; width: 16px; height: 16px; } 
.icons-fruit-apple-half{ background-position: -180px -612px; width: 16px; height: 16px; } 
.icons-fruit-grape{ background-position: -180px -648px; width: 16px; height: 16px; } 
.icons-fruit-lime{ background-position: -180px -684px; width: 16px; height: 16px; } 
.icons-fruit{ background-position: -180px -720px; width: 16px; height: 16px; } 
.icons-funnel{ background-position: -180px -756px; width: 16px; height: 16px; } 
.icons-gear--arrow{ background-position: -180px -792px; width: 16px; height: 16px; } 
.icons-gear--pencil{ background-position: -180px -828px; width: 16px; height: 16px; } 
.icons-gear{ background-position: -180px -864px; width: 16px; height: 16px; } 
.icons-globe--arrow{ background-position: -180px -900px; width: 16px; height: 16px; } 
.icons-globe-network-ethernet{ background-position: -180px -936px; width: 16px; height: 16px; } 
.icons-globe{ background-position: -180px -972px; width: 16px; height: 16px; } 
.icons-hammer-screwdriver{ background-position: -180px -1008px; width: 16px; height: 16px; } 
.icons-hammer{ background-position: -180px -1044px; width: 16px; height: 16px; } 
.icons-hand-shake{ background-position: -180px -1080px; width: 16px; height: 16px; } 
.icons-headstone-cross{ background-position: -180px -1116px; width: 16px; height: 16px; } 
.icons-headstone-rip{ background-position: -180px -1152px; width: 16px; height: 16px; } 
.icons-headstone{ background-position: -180px -1188px; width: 16px; height: 16px; } 
.icons-heart-break{ background-position: -180px -1224px; width: 16px; height: 16px; } 
.icons-heart-empty{ background-position: -180px -1260px; width: 16px; height: 16px; } 
.icons-heart-half{ background-position: -180px -1296px; width: 16px; height: 16px; } 
.icons-home--arrow{ background-position: -180px -1332px; width: 16px; height: 16px; } 
.icons-home{ background-position: -180px -1368px; width: 16px; height: 16px; } 
.icons-ice--arrow{ background-position: -180px -1404px; width: 16px; height: 16px; } 
.icons-ice{ background-position: -180px -1440px; width: 16px; height: 16px; } 
.icons-inbox--arrow{ background-position: -180px -1476px; width: 16px; height: 16px; } 
.icons-inbox--exclamation{ background-position: -180px -1512px; width: 16px; height: 16px; } 
.icons-inbox-document-music-playlist{ background-position: -180px -1548px; width: 16px; height: 16px; } 
.icons-inbox-document-music{ background-position: -180px -1584px; width: 16px; height: 16px; } 
.icons-inbox-document-text{ background-position: -180px -1620px; width: 16px; height: 16px; } 
.icons-inbox-document{ background-position: -180px -1656px; width: 16px; height: 16px; } 
.icons-inbox-download{ background-position: -180px -1692px; width: 16px; height: 16px; } 
.icons-inbox-film{ background-position: -180px -1728px; width: 16px; height: 16px; } 
.icons-inbox-image{ background-position: -180px -1764px; width: 16px; height: 16px; } 
.icons-inbox-slide{ background-position: -180px -1800px; width: 16px; height: 16px; } 
.icons-inbox-table{ background-position: -180px -1836px; width: 16px; height: 16px; } 
.icons-inbox-upload{ background-position: -180px -1872px; width: 16px; height: 16px; } 
.icons-inbox{ background-position: -180px -1908px; width: 16px; height: 16px; } 
.icons-jar--arrow{ background-position: -180px -1944px; width: 16px; height: 16px; } 
.icons-jar-empty{ background-position: -216px 0; width: 16px; height: 16px; } 
.icons-jar-label{ background-position: -216px -36px; width: 16px; height: 16px; } 
.icons-jar-open{ background-position: -216px -72px; width: 16px; height: 16px; } 
.icons-jar{ background-position: -216px -108px; width: 16px; height: 16px; } 
.icons-keyboard-full-wireless{ background-position: -216px -144px; width: 16px; height: 16px; } 
.icons-keyboard-full{ background-position: -216px -180px; width: 16px; height: 16px; } 
.icons-layout-header-2{ background-position: -216px -216px; width: 16px; height: 16px; } 
.icons-layout-header{ background-position: -216px -252px; width: 16px; height: 16px; } 
.icons-luggage-tag{ background-position: -216px -288px; width: 16px; height: 16px; } 
.icons-luggage{ background-position: -216px -324px; width: 16px; height: 16px; } 
.icons-magnifier-left{ background-position: -216px -360px; width: 16px; height: 16px; } 
.icons-magnifier-medium-left{ background-position: -216px -396px; width: 16px; height: 16px; } 
.icons-magnifier-medium{ background-position: -216px -432px; width: 16px; height: 16px; } 
.icons-magnifier{ background-position: -216px -468px; width: 16px; height: 16px; } 
.icons-mahjong--plus{ background-position: -216px -504px; width: 16px; height: 16px; } 
.icons-mail--arrow{ background-position: -216px -540px; width: 16px; height: 16px; } 
.icons-mail-air{ background-position: -216px -576px; width: 16px; height: 16px; } 
.icons-mail-forward{ background-position: -216px -612px; width: 16px; height: 16px; } 
.icons-mail-open-document-music-playlist{ background-position: -216px -648px; width: 16px; height: 16px; } 
.icons-mail-open-document-music{ background-position: -216px -684px; width: 16px; height: 16px; } 
.icons-mail-open-document-text{ background-position: -216px -720px; width: 16px; height: 16px; } 
.icons-mail-open-document{ background-position: -216px -756px; width: 16px; height: 16px; } 
.icons-mail-open-film{ background-position: -216px -792px; width: 16px; height: 16px; } 
.icons-mail-open-image{ background-position: -216px -828px; width: 16px; height: 16px; } 
.icons-mail-open-table{ background-position: -216px -864px; width: 16px; height: 16px; } 
.icons-mail-open{ background-position: -216px -900px; width: 16px; height: 16px; } 
.icons-mail-send-receive{ background-position: -216px -936px; width: 16px; height: 16px; } 
.icons-media-player-black{ background-position: -216px -972px; width: 16px; height: 16px; } 
.icons-media-player-phone-protector{ background-position: -216px -1008px; width: 16px; height: 16px; } 
.icons-media-player-protector{ background-position: -216px -1044px; width: 16px; height: 16px; } 
.icons-media-player-small-blue{ background-position: -216px -1080px; width: 16px; height: 16px; } 
.icons-media-player-small{ background-position: -216px -1116px; width: 16px; height: 16px; } 
.icons-media-players{ background-position: -216px -1152px; width: 16px; height: 16px; } 
.icons-microphone--arrow{ background-position: -216px -1188px; width: 16px; height: 16px; } 
.icons-microphone{ background-position: -216px -1224px; width: 16px; height: 16px; } 
.icons-milk{ background-position: -216px -1260px; width: 16px; height: 16px; } 
.icons-minus-button{ background-position: -216px -1296px; width: 16px; height: 16px; } 
.icons-minus-circle-frame{ background-position: -216px -1332px; width: 16px; height: 16px; } 
.icons-minus-circle{ background-position: -216px -1368px; width: 16px; height: 16px; } 
.icons-minus-shield{ background-position: -216px -1404px; width: 16px; height: 16px; } 
.icons-mobile-phone--arrow{ background-position: -216px -1440px; width: 16px; height: 16px; } 
.icons-mobile-phone{ background-position: -216px -1476px; width: 16px; height: 16px; } 
.icons-money--arrow{ background-position: -216px -1512px; width: 16px; height: 16px; } 
.icons-money-coin{ background-position: -216px -1548px; width: 16px; height: 16px; } 
.icons-money{ background-position: -216px -1584px; width: 16px; height: 16px; } 
.icons-moneys{ background-position: -216px -1620px; width: 16px; height: 16px; } 
.icons-network-cloud{ background-position: -216px -1656px; width: 16px; height: 16px; } 
.icons-network-clouds{ background-position: -216px -1692px; width: 16px; height: 16px; } 
.icons-network-ethernet{ background-position: -216px -1728px; width: 16px; height: 16px; } 
.icons-network-ip-local{ background-position: -216px -1764px; width: 16px; height: 16px; } 
.icons-newspaper--arrow{ background-position: -216px -1800px; width: 16px; height: 16px; } 
.icons-newspaper{ background-position: -216px -1836px; width: 16px; height: 16px; } 
.icons-notebook--arrow{ background-position: -216px -1872px; width: 16px; height: 16px; } 
.icons-notebook--pencil{ background-position: -216px -1908px; width: 16px; height: 16px; } 
.icons-notebook--plus{ background-position: -216px -1944px; width: 16px; height: 16px; } 
.icons-notebook-share{ background-position: -252px 0; width: 16px; height: 16px; } 
.icons-notebook{ background-position: -252px -36px; width: 16px; height: 16px; } 
.icons-notebooks{ background-position: -252px -72px; width: 16px; height: 16px; } 
.icons-oil-barrel{ background-position: -252px -108px; width: 16px; height: 16px; } 
.icons-open-share-document{ background-position: -252px -144px; width: 16px; height: 16px; } 
.icons-opml-document{ background-position: -252px -180px; width: 16px; height: 16px; } 
.icons-paint-brush--arrow{ background-position: -252px -216px; width: 16px; height: 16px; } 
.icons-paint-brush{ background-position: -252px -252px; width: 16px; height: 16px; } 
.icons-paint-can--arrow{ background-position: -252px -288px; width: 16px; height: 16px; } 
.icons-paint-can{ background-position: -252px -324px; width: 16px; height: 16px; } 
.icons-palette--pencil{ background-position: -252px -360px; width: 16px; height: 16px; } 
.icons-paper-bag--arrow{ background-position: -252px -396px; width: 16px; height: 16px; } 
.icons-paper-bag-label{ background-position: -252px -432px; width: 16px; height: 16px; } 
.icons-paper-bag-recycle{ background-position: -252px -468px; width: 16px; height: 16px; } 
.icons-paper-bag{ background-position: -252px -504px; width: 16px; height: 16px; } 
.icons-paper-lantern-repast{ background-position: -252px -540px; width: 16px; height: 16px; } 
.icons-paper-lantern{ background-position: -252px -576px; width: 16px; height: 16px; } 
.icons-paper-plane--arrow{ background-position: -252px -612px; width: 16px; height: 16px; } 
.icons-paper-plane{ background-position: -252px -648px; width: 16px; height: 16px; } 
.icons-pearl-shell{ background-position: -252px -684px; width: 16px; height: 16px; } 
.icons-photo-album--arrow{ background-position: -252px -720px; width: 16px; height: 16px; } 
.icons-photo-album-blue{ background-position: -252px -756px; width: 16px; height: 16px; } 
.icons-photo-album{ background-position: -252px -792px; width: 16px; height: 16px; } 
.icons-picture--arrow{ background-position: -252px -828px; width: 16px; height: 16px; } 
.icons-piggy-bank{ background-position: -252px -864px; width: 16px; height: 16px; } 
.icons-pill--arrow{ background-position: -252px -900px; width: 16px; height: 16px; } 
.icons-pill{ background-position: -252px -936px; width: 16px; height: 16px; } 
.icons-plate-cutlery{ background-position: -252px -972px; width: 16px; height: 16px; } 
.icons-plate{ background-position: -252px -1008px; width: 16px; height: 16px; } 
.icons-playing-card--arrow{ background-position: -252px -1044px; width: 16px; height: 16px; } 
.icons-playing-card{ background-position: -252px -1080px; width: 16px; height: 16px; } 
.icons-plus-button{ background-position: -252px -1116px; width: 16px; height: 16px; } 
.icons-plus-circle{ background-position: -252px -1152px; width: 16px; height: 16px; } 
.icons-plus{ background-position: -252px -1188px; width: 16px; height: 16px; } 
.icons-popcorn-empty{ background-position: -252px -1224px; width: 16px; height: 16px; } 
.icons-popcorn{ background-position: -252px -1260px; width: 16px; height: 16px; } 
.icons-price-tag--arrow{ background-position: -252px -1296px; width: 16px; height: 16px; } 
.icons-price-tag--pencil{ background-position: -252px -1332px; width: 16px; height: 16px; } 
.icons-price-tag--plus{ background-position: -252px -1368px; width: 16px; height: 16px; } 
.icons-price-tag{ background-position: -252px -1404px; width: 16px; height: 16px; } 
.icons-printer-empty{ background-position: -252px -1440px; width: 16px; height: 16px; } 
.icons-printer{ background-position: -252px -1476px; width: 16px; height: 16px; } 
.icons-projection-screen--arrow{ background-position: -252px -1512px; width: 16px; height: 16px; } 
.icons-projection-screen{ background-position: -252px -1548px; width: 16px; height: 16px; } 
.icons-property-blue{ background-position: -252px -1584px; width: 16px; height: 16px; } 
.icons-property-export{ background-position: -252px -1620px; width: 16px; height: 16px; } 
.icons-property{ background-position: -252px -1656px; width: 16px; height: 16px; } 
.icons-quill--arrow{ background-position: -252px -1692px; width: 16px; height: 16px; } 
.icons-quill{ background-position: -252px -1728px; width: 16px; height: 16px; } 
.icons-regular-expression{ background-position: -252px -1764px; width: 16px; height: 16px; } 
.icons-remote-control{ background-position: -252px -1800px; width: 16px; height: 16px; } 
.icons-report-paper{ background-position: -252px -1836px; width: 16px; height: 16px; } 
.icons-resource-monitor-protector{ background-position: -252px -1872px; width: 16px; height: 16px; } 
.icons-resource-monitor{ background-position: -252px -1908px; width: 16px; height: 16px; } 
.icons-ribbon{ background-position: -252px -1944px; width: 16px; height: 16px; } 
.icons-robot{ background-position: -288px 0; width: 16px; height: 16px; } 
.icons-rocket{ background-position: -288px -36px; width: 16px; height: 16px; } 
.icons-ruby{ background-position: -288px -72px; width: 16px; height: 16px; } 
.icons-ruler--arrow{ background-position: -288px -108px; width: 16px; height: 16px; } 
.icons-ruler-triangle{ background-position: -288px -144px; width: 16px; height: 16px; } 
.icons-ruler{ background-position: -288px -180px; width: 16px; height: 16px; } 
.icons-safe--arrow{ background-position: -288px -216px; width: 16px; height: 16px; } 
.icons-safe{ background-position: -288px -252px; width: 16px; height: 16px; } 
.icons-shoe--arrow{ background-position: -288px -288px; width: 16px; height: 16px; } 
.icons-shoe{ background-position: -288px -324px; width: 16px; height: 16px; } 
.icons-shopping-basket--arrow{ background-position: -288px -360px; width: 16px; height: 16px; } 
.icons-shopping-basket{ background-position: -288px -396px; width: 16px; height: 16px; } 
.icons-skull{ background-position: -288px -432px; width: 16px; height: 16px; } 
.icons-sofa--arrow{ background-position: -288px -468px; width: 16px; height: 16px; } 
.icons-sofa{ background-position: -288px -504px; width: 16px; height: 16px; } 
.icons-speaker--arrow{ background-position: -288px -540px; width: 16px; height: 16px; } 
.icons-speaker{ background-position: -288px -576px; width: 16px; height: 16px; } 
.icons-stamp--arrow{ background-position: -288px -612px; width: 16px; height: 16px; } 
.icons-stamp{ background-position: -288px -648px; width: 16px; height: 16px; } 
.icons-switch{ background-position: -288px -684px; width: 16px; height: 16px; } 
.icons-system-monitor--arrow{ background-position: -288px -720px; width: 16px; height: 16px; } 
.icons-system-monitor-network{ background-position: -288px -756px; width: 16px; height: 16px; } 
.icons-system-monitor-protector{ background-position: -288px -792px; width: 16px; height: 16px; } 
.icons-system-monitor{ background-position: -288px -828px; width: 16px; height: 16px; } 
.icons-table--arrow{ background-position: -288px -864px; width: 16px; height: 16px; } 
.icons-table{ background-position: -288px -900px; width: 16px; height: 16px; } 
.icons-tag--arrow{ background-position: -288px -936px; width: 16px; height: 16px; } 
.icons-tag-cloud{ background-position: -288px -972px; width: 16px; height: 16px; } 
.icons-tag-label{ background-position: -288px -1008px; width: 16px; height: 16px; } 
.icons-tag{ background-position: -288px -1044px; width: 16px; height: 16px; } 
.icons-telephone-share{ background-position: -288px -1080px; width: 16px; height: 16px; } 
.icons-television{ background-position: -288px -1116px; width: 16px; height: 16px; } 
.icons-thumb-small-up{ background-position: -288px -1152px; width: 16px; height: 16px; } 
.icons-thumb-small{ background-position: -288px -1188px; width: 16px; height: 16px; } 
.icons-thumb-up{ background-position: -288px -1224px; width: 16px; height: 16px; } 
.icons-thumb{ background-position: -288px -1260px; width: 16px; height: 16px; } 
.icons-tick-button{ background-position: -288px -1296px; width: 16px; height: 16px; } 
.icons-tick-octagon{ background-position: -288px -1332px; width: 16px; height: 16px; } 
.icons-tick-red{ background-position: -288px -1368px; width: 16px; height: 16px; } 
.icons-tick{ background-position: -288px -1404px; width: 16px; height: 16px; } 
.icons-user--arrow{ background-position: -288px -1440px; width: 16px; height: 16px; } 
.icons-user-black-female{ background-position: -288px -1476px; width: 16px; height: 16px; } 
.icons-user-black{ background-position: -288px -1512px; width: 16px; height: 16px; } 
.icons-user-business-boss{ background-position: -288px -1548px; width: 16px; height: 16px; } 
.icons-user-business-gray-boss{ background-position: -288px -1584px; width: 16px; height: 16px; } 
.icons-user-business-gray{ background-position: -288px -1620px; width: 16px; height: 16px; } 
.icons-user-business{ background-position: -288px -1656px; width: 16px; height: 16px; } 
.icons-user-detective-gray{ background-position: -288px -1692px; width: 16px; height: 16px; } 
.icons-user-detective{ background-position: -288px -1728px; width: 16px; height: 16px; } 
.icons-user-female{ background-position: -288px -1764px; width: 16px; height: 16px; } 
.icons-user-gray-female{ background-position: -288px -1800px; width: 16px; height: 16px; } 
.icons-user-gray{ background-position: -288px -1836px; width: 16px; height: 16px; } 
.icons-user-medical-female{ background-position: -288px -1872px; width: 16px; height: 16px; } 
.icons-user-medical{ background-position: -288px -1908px; width: 16px; height: 16px; } 
.icons-user-medium-female{ background-position: -288px -1944px; width: 16px; height: 16px; } 
.icons-user-medium{ background-position: -324px 0; width: 16px; height: 16px; } 
.icons-user-red-female{ background-position: -324px -36px; width: 16px; height: 16px; } 
.icons-user-red{ background-position: -324px -72px; width: 16px; height: 16px; } 
.icons-user-share{ background-position: -324px -108px; width: 16px; height: 16px; } 
.icons-user-silhouette-question{ background-position: -324px -144px; width: 16px; height: 16px; } 
.icons-user-silhouette{ background-position: -324px -180px; width: 16px; height: 16px; } 
.icons-user-thief-baldie{ background-position: -324px -216px; width: 16px; height: 16px; } 
.icons-user-thief-female{ background-position: -324px -252px; width: 16px; height: 16px; } 
.icons-user-thief{ background-position: -324px -288px; width: 16px; height: 16px; } 
.icons-user-white-female{ background-position: -324px -324px; width: 16px; height: 16px; } 
.icons-user-white{ background-position: -324px -360px; width: 16px; height: 16px; } 
.icons-user-worker-boss{ background-position: -324px -396px; width: 16px; height: 16px; } 
.icons-user-worker{ background-position: -324px -432px; width: 16px; height: 16px; } 
.icons-user-yellow-female{ background-position: -324px -468px; width: 16px; height: 16px; } 
.icons-user-yellow{ background-position: -324px -504px; width: 16px; height: 16px; } 
.icons-user{ background-position: -324px -540px; width: 16px; height: 16px; } 
.icons-users{ background-position: -324px -576px; width: 16px; height: 16px; } 
.icons-wallet--arrow{ background-position: -324px -612px; width: 16px; height: 16px; } 
.icons-wallet{ background-position: -324px -648px; width: 16px; height: 16px; } 
.icons-water--arrow{ background-position: -324px -684px; width: 16px; height: 16px; } 
.icons-water{ background-position: -324px -720px; width: 16px; height: 16px; } 
.icons-wooden-box--arrow{ background-position: -324px -756px; width: 16px; height: 16px; } 
.icons-wooden-box-label{ background-position: -324px -792px; width: 16px; height: 16px; } 
.icons-wooden-box{ background-position: -324px -828px; width: 16px; height: 16px; } 
