.quick-slider-nav-arrows, .quick-slider-slide .description{background:#000;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";}
.quick-slider-nav-arrows:hover{background:#fff;}
.quick-slider-nav-dots{background:#000;font-size:0.1em;}

/* PLUGINS */
